# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
env_me/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VS Code / system files
.vscode/
.DS_Store